{% extends 'base.html' %}
{% load static %}

    {% block content %}

      <div class="container py-5">
        <div class="col-md-8 offset-2">

        <h1 class="mb-5">Hisobingizni yarating</h1>
        
        
        <div class="card mb-4" id="forms">
          <div class="card-header">
            <small>
              Ushbu akkaunt yordamida siz to'lov vaqtida vaqtni tejashingiz, xarid qilish sumkangizga istalgan qurilmadan kirishingiz va buyurtmalar tarixini ko'rishingiz mumkin.
            </small>
          </div>
          <div class="card-body">

            {% include 'partials/_messages.html' %}

            <form method="post" action="">
              <fieldset>
                {% csrf_token %}

                {% for fm in form %}
                    <div class="form-group">
                        {{fm.label_tag}}
                        {{fm}}
                        <small class="text-danger">{{fm.errors|striptags}}</small>
                    </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit">Saqlash</button>
              </fieldset>

              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger alert-dismissible fade show" role="alert" my-3">
                        {{error}}
                    </p>
                {% endfor %}
              {% endif %}

            </form>

            <hr>

            Hisobingiz bormi? <a href="{% url 'store:login' %}">Kirish </a>
            
          </div>
        </div>

        </div>       
      </div>
{% endblock content %}