<footer class="bg-dark text-white">
        <div class="container py-4">
          <div class="row py-5">
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Mijozlarga xizmatlar</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">Yordam &amp; Aloqaga chiqish</a></li>
                <li><a class="footer-link" href="#">Onlayn do'konlar</a></li>
                <li><a class="footer-link" href="#">Shartlar &amp; Shartlar</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h6 class="text-uppercase mb-3"></h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">Twitter</a></li>
                <li><a class="footer-link" href="#">Instagram</a></li>
                <li><a class="footer-link" href="#">Telegram</a></li>
              </ul>
            </div>
          </div>
          <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
             
            </div>
          </div>
        </div>
      </footer>